.table_tr {
  background-color: white;  
}
.table_tr:nth-child(2n) {
    background-color: rgb(216, 216, 216);
}

.table_tr:hover {
    background-color: rgb(255, 243, 132);
}

.table_td {
    padding: 10px;
    text-align: center;
}